atomicwrites
attrs
blinker
click
colorama
coverage
cryptography
faker
Flask
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
py
pyparsing
pytest
pytest-cov
SQLAlchemy
toml
tomli
Werkzeug
WTForms
