{% extends 'public/_base.html' %}

{% block style %}
<style>
    body {
        background: url(static/img/DJI_0004_bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock %}

{% block title %}Info{% endblock %}

{% block head_logo %}
    <img src="{{ url_for('static', filename='img/logo_3bgremove.png') }}" width="226" height="120">
{% endblock %}




{% block header1 %}NEW FOR INFO.{% endblock %}

{% block info %}NEW FOR INFO NEW FOR INFO.{% endblock %}